.workspacestodock-workspace-caption-container {
    padding: 1px;
}

.workspacestodock-workspace-caption-windowapps {
    padding: 0px;
}

/* ------------------------------------------------------------------------------- */
/* GS36+ can override gnome shell classes - app-well-app, overview-icon, etc       */
#workspacestodockCaptionWindowApps .app-well-app {
    padding: 0px 1px;
}

#workspacestodockCaptionWindowApps .app-well-app > .overview-icon {
    padding: 0px 1px;
    border: 1px solid rgba(180,180,180,0.5);
    border-radius: 1px;

    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(255,255,255,0.3);
    background-gradient-direction: vertical;
}

#workspacestodockCaptionWindowApps .app-well-app:hover {
}

#workspacestodockCaptionWindowApps .app-well-app:hover > .overview-icon {
    border-radius: 1px;
}

#workspacestodockCaptionWindowApps .popup-menu-item:active {
    padding: 0px;
    border-radius: 1px;
}

/* ------------------------------------------------------------------------------- */
/* GS34 can't override gnome shell classes .. fallback to these classes instead    */
/* Or use these classes to enhance and compliment gnome shell classes in GS36+     */
/* compliments app-well-app */
.workspacestodock-caption-windowapps-button {
    /*padding: 0px 1px;*/
}
/* compliments overview-icon */
.workspacestodock-caption-windowapps-button-icon {
/*
    padding: 0px 1px;
    border: 1px solid rgba(180,180,180,0.5);
    border-radius: 1px;

    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(255,255,255,0.3);
    background-gradient-direction: vertical;
*/
}
/* compliments app-well-app:hover > overview-icon */
.workspacestodock-caption-windowapps-button:hover > .workspacestodock-caption-windowapps-button-icon {
}
/* compliments popup-menu-item:active */
.workspacestodock-caption-windowapps-button:active > .workspacestodock-caption-windowapps-button-icon {
/*
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(255,255,255,0.3);
    background-gradient-direction: vertical;
    background-color: green;
*/
}
/* ------------------------------------------------------------------------------- */

.workspacestodock-workspace-caption {
    /*border: 1px solid rgba(255,255,255,0.7);*/
}

.workspacestodock-workspace-caption-background {
    background-gradient-start: rgba(10,10,10,0.4);
    background-gradient-end: rgba(10,10,10,0.4);
    border: 1px solid rgba(10,10,10,0.4);
    border-radius: 0px 0px 2px 2px;
}


/* caption workspace number */
.workspacestodock-caption-number {
    color: rgba(0,0,0,0.7);
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(255,255,255,0.3);
    background-gradient-direction: vertical;
    font-family: cantarell, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 0px 8px;
    border-radius: 1px;
}

/* caption workspace name */
.workspacestodock-caption-name {
    color: rgba(150,150,150,0.8);
    color: rgba(255,255,255,0.3);
    font-family: cantarell, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 0px 8px;
}

/* caption workspace windowcount */
.workspacestodock-caption-windowcount {
    min-width: 7px;
    color: rgba(150,150,150,0.8);
    background-color: rgba(10,10,10,0.2);
    font-family: cantarell, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 0px 8px;
    border-radius: 1px;
}

/* caption workspace windowcount image*/
.workspacestodock-caption-windowcount-image {
    width: 20px;
    height: 16px;
}

/* The classes below are used in conjunction with the above workspacestodock-caption-windowcount-image 
 * They provide background images that corespond with the window count */
.workspacestodock-caption-windowcount-image-1 {
    background-image: url('h-one.svg');
}
.workspacestodock-caption-windowcount-image-2 {
    background-image: url('h-two.svg');
}
.workspacestodock-caption-windowcount-image-3 {
    background-image: url('h-three.svg');
}
.workspacestodock-caption-windowcount-image-4 {
    background-image: url('h-four.svg');
}

/* caption spacer-filler */
.workspacestodock-caption-spacer {
    border: 1px solid rgba(0, 0, 0, 0.0);
    width: 1px;
}

/* The classes below are used in conjuction with the above classes
 * They provide additional theming for the current workspace caption */
.workspacestodock-workspace-caption-background-current {
/*
    background-gradient-start: rgba(0,0,0,0.5);
    background-gradient-end: rgba(0,0,0,0.5);
    background-gradient-direction: vertical;
    border: 1px solid rgba(0,0,0,0.4);
*/
}
.workspacestodock-caption-number-current {
    color: rgba(0,0,0,0.9);
    background-gradient-start: rgba(255,255,255,0.6);
    background-gradient-end: rgba(255,255,255,0.7);
    background-gradient-direction: vertical;
}
.workspacestodock-caption-name-current {
    color: rgba(255,255,255,0.8);
}
.workspacestodock-caption-windowcount-current {
    color: rgba(255,255,255,0.8);
    background-color: rgba(10,10,10,0.4);
}
.workspacestodock-caption-windowcount-image-current {
}
